.menuArriba li{
    color: red;
    display: inline;
    padding: 10px;
}
.menuArriba li a:hover{
    background-color: black;
    color:white;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}
    input[type="text"]{
        padding: 5px;
        display: block;
    
    }
    input[type="submit"]{
        margin-top: 20px;
        padding: 5px;
        border-radius: 5px;
        color: #d7a;
    }
